.slot {
    border: solid black 2px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

#board {
    border: solid red 7px;
    width: 80vw;
    
}

.row {
    border: solid green 2px;
    display: flex;
}

#title {
    color: grey;
}

.header {
    
}