* {
    margin: 0px;
    
}
.slot {
    border: solid black 2px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 4px;
}

#board {
    border: solid red 7px;
    height: 700px;
    width: 800px;     
}

.row {
    border: solid green 2px;
    display: flex;
}

#title {
    color: grey;
}

.header {
    
}